* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(91, 92, 95);
}

a:hover {
  color: rgb(91, 92, 95);
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  background-color: #f7f8fb;
}

.ant-modal-body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.ant-avatar {
  vertical-align: 0px;
}
